---
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Home">
  <section class="max-w-7xl mx-auto flex flex-col items-center">
    <h1 class="text-3xl my-8">Este es un nuevo proyecto de astro</h1>
    <img
      src="/favicon.svg"
      alt="Favicon"
      class="w-44 h-44 object-cover"
    />
  </section>
</HomeLayout>
